@media screen and (max-width: 1380px) and (min-width: 1025px) {
  .hero-title,
  .mera-clone {
    font-size: 50px;
  }
}

@media screen and (max-width: 1380px) and (min-width: 992px) {
  .hero-item-description {
    font-size: 14px;
  }

  .hero-content-title {
    font-size: 14px;
  }

  .hero-content-description {
    font-size: 14px;
  }

  .hero-description {
    font-size: 26px;
  }

  .hero-img-content-2 {
    height: 600px;
  }

  .hero-model-img-content{
    padding-right: 3%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
  .hero-title,
  .mera-clone {
    font-size: 48px;
  }
}

@media screen and (max-width: 991px) and (min-width: 576px) {
  .hero-title,
  .mera-clone {
    font-size: 36px;
  }

  .hero-description {
    font-size: 22px;
  }

  .hero-content-description {
    font-size: 14px;
  }

  .section-title {
    font-size: 50px;
  }

  .hero-process-chart-items {
    gap: 24px;
  }
}

@media screen and (max-width: 991px) and (min-width: 320px) {
  .hero-item-description {
    font-size: 14px;
  }

  .hero-content-items {
    margin-top: 30px;
    width: 2000px;
    max-width: max-content;
    gap: 30px;
  }

  .hero-content-wrapper {
    gap: 30px;
    justify-content: normal;
  }

  .hero-border-item {
    margin-top: 30px;
  }

  .hero-model {
    flex-direction: column;
  }

  .hero-img-content-2 {
    height: 390px;
  }

  .md-none {
    display: none;
  }

  .lg-none {
    display: block;
  }

  .hero-process-chart-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .hero-process-chart-item:last-child {
    grid-column: span 2;
  }

  .hero-model-section{
    padding-block: 40px;
  }

  .hero-model-title-wrapper {
    padding-right: 0px;
  }

  .hero-model-arrows {
    gap: 20px;
    flex-direction: row-reverse;
    top: 100%;
    transform: translate(0%, -50%);
    right: 50%;
  }

  .hero-model-arrow {
    width: 40px;
  }

  .close-modal-btn {
    top: -2%;
    right: 4%;
  }

  .hero-model-img-content {
    padding-right: 0%;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .max-w-380 {
    max-width: 365px;
  }

  .max-w-266 {
    max-width: 365px;
  }

  .max-w-206 {
    max-width: 365px;
  }

  .max-w-228 {
    max-width: 365px;
  }

  .hero-model-title {
    font-size: 44px;
  }

  .hero-model-description-content {
    margin-top: 40px;
  }

  .hero-process-description {
    font-size: 20px;
  }

  .hero-model-content-title {
    font-size: 20px;
  }

  .hero-process-chart-content {
    margin-top: 40px;
  }

  .hero-process-item-title strong {
    font-size: 22px;
    margin-bottom: 12px;
  }

  .hero-process-item-title {
    font-size: 18px;
  }

  .hero-process-item-content {
    padding-left: 14px;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
  .hero-model-title {
    font-size: 36px;
  }

  .hero-model-description-content {
    margin-top: 30px;
  }

  .hero-process-description {
    font-size: 18px;
  }

  .hero-model-content-title {
    font-size: 18px;
  }

  .hero-process-chart-content {
    margin-top: 30px;
  }

  .hero-process-item-title strong {
    font-size: 22px;
    margin-bottom: 12px;
  }

  .hero-process-item-title {
    font-size: 18px;
  }

  .hero-process-item-content {
    padding-left: 14px;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 575px) and (min-width: 320px) {
  .hero-title,
  .mera-clone {
    font-size: 25px;
  }

  .hero-description {
    font-size: 14px;
  }

  .hero-content-title {
    font-size: 14px;
  }

  .hero-content-description {
    font-size: 14px;
    margin-top: 8px;
  }

  .section-title {
    font-size: 40px;
  }

  .hero-model-title {
    font-size: 30px;
  }

  .hero-model-description-content {
    margin-top: 20px;
  }

  .hero-process-description {
    font-size: 16px;
  }

  .hero-model-content-title {
    font-size: 16px;
    margin-top: 14px;
  }

  .hero-model-content {
    margin-top: 14px;
  }

  .hero-process-chart-content {
    margin-top: 30px;
  }

  .hero-process-item-title strong {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .hero-process-item-title {
    font-size: 14px;
  }

  .hero-process-item-content {
    padding-left: 8px;
    padding-bottom: 8px;
    margin-top: 15px;
  }

  .close-modal-btn {
    width: 40px;
  }

  .hero-process-chart-text {
    font-size: 12px;
  }

  .hero-process-chart-items {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .max-w-380 {
    max-width: 280px;
  }

  .max-w-266 {
    max-width: 280px;
  }

  .max-w-206 {
    max-width: 280px;
  }

  .max-w-228 {
    max-width: 280px;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .hero-description-content {
    margin-top: 10px;
  }

  .max-w-80 {
    width: auto;
  }

  .max-w-20 {
    width: auto;
  }
}
